<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="d-flex justify-content-center">
                <a class="custom-btn text-white" [routerLink]="['/dashboard/doctor']" routerLinkActive="active"  style="margin-right: 4%;">List Doctors</a>
                <a class="custom-btn text-white" [routerLink]="['/dashboard/patient']" routerLinkActive="active" >List Patients</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
