.active{
    background-color: #4EA156 !important;
    padding: 10px;
    cursor: pointer;
    border-radius: 5%;
    text-decoration: none;
    font-weight: 600;
}

.custom-btn{
    padding: 10px;
    cursor: pointer;
    border-radius: 5%;
    text-decoration: none;
    background-color: #0069D9;
}